<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generator with API key</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
  <section class="section is-small">
    <div class="container">
      <h1 class="title">
        Generate text
      </h1>
      <p class="subtitle">
      Power by {{model_name}}
      </p>
    </div>
  </section>

  <section class="section is-small">
	<div class="container" x-data="{ prompt: 'Hello', result: false }"> 
	    <div class="field">
	    <label class="label">Access key</label>
	    <p>Paste a valid access key<p/>
	    <p class="control">
		    <input id="access-token" class="input" type="key" placeholder="Access key">
	    </p>
	    </div>

    	<hr/>
	    <form hx-post="/api/x/generate" hx-target="#generated-text" hx-indicator="#indicator">
	    <div class="field" >
		<label class="label">Prompt</label>
		<p>Write a prompt<p/>
		<p class="control">
		    <textarea id="prompt" name="prompt" class="textarea" type="prompt" placeholder="prompt" rows='5' x-model="prompt"></textarea>
		</p>
	    </div>

	    <div class="field is-grouped">
	      <div class="field">
		      <label class="label">Length of response</label>
		      <div class="control">
		      	<input id="length" name="length" class="input" type="number" placeholder="Lenght" value="50">
		      </div>
	      </div>
 	      <div class="field">
		      <label class="label">Temperature</label>
		      <div class="control">
		      	<input id="temperature" name="temperature" step="0.01" class="input" min="0.0" max="1.0" type="number" placeholder="0.9" value="0.9">
		      </div>
	      </div>
      	      <div class="field">
		      <label class="label">Repetition penalty</label>
		      <div class="control">
		      	<input id="repetition_penalty" name="repetition_penalty" step="0.01" min="1.0" max="100" class="input" type="number" placeholder="2.0" value="2.0">
		      </div>
	      </div>
	    </div>
      	      <div class="field">
	      <div class="control">
	      <label class="checkbox">
		        <input name="do_sample"  type="checkbox" checked>
			 Do sample
	      </label>
	      </div>
	      </div>

	    <div class="field is-grouped">
	      <div class="control">
		    <button class="button is-success is-light" @click="result=true"type="submit">Generate</button>
	      </div>
	      <div class="control">
		    <button class="button is-danger is-light" @click="prompt='';" type="button">Clean prompt</button>
	      </div>
	      <div class="control">
		    <button class="button is-danger is-light" @click="prompt='';result=false;" type="button">Clean all</button>
	      </div>

	    </div>
	    <img id="indicator" class="htmx-indicator" src="{{url_for('static', path='/img/spinner.gif')}}"/>
	  </form>
          <div id="generated-text" x-show="result"></div>
	</div>

  </section>
	<script>
		var token = document.getElementById("access-token");

		document.body.addEventListener('htmx:configRequest', function(evt) {
			evt.detail.headers['access-token'] = token.value; 
			evt.detail.headers['accept'] = "application/json";
		});
	</script>
  </body>
</html>

