<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Resultado
    </p>
  </header>
  <div class="card-content">
	{{generated_text}}
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
	      Elapsed time: {{ elapsed_time }}
      </span>
    </p>
  </footer>
</div>
